html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

html,
body {
    height: 100%;
}

body {
    display: flex;
}

body > .image-wrapper {
    flex: 2;
    position: relative;
}

body > .form-wrapper {
    flex: 5;
    background-color: whitesmoke;
}

.image-wrapper > div {
    flex: 1;
    color: white;
}

.image-wrapper > .unsplash {
    position: absolute;
    color: white;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.background-image {
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* */

.form-wrapper > :first-child {
    margin-top: 5rem;
}

.form-wrapper > h2 {
    margin-right: 15rem;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}

form {
    background-color: white;
    padding: 1rem 0 2rem 0;;
    margin-top: 3rem;
    box-shadow: 0rem 0.2rem 0.5rem rgb(175, 175, 175);
}

form > legend {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.group-wrap {
    display: flex;
    flex-wrap: wrap;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.input-wrap > input {
    width: 250px;
    border-radius: 4px;
    border: 1px solid rgb(225, 225, 225);
    min-height: 24px;
}

.input-wrap > input:focus {
    outline: lightblue;
    border-color: rgb(81, 114, 225);
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(158, 158, 158);
}

.input-wrap > input:invalid {
    outline: rgb(190, 22, 22);
    border-color: rgb(190, 22, 22);
}

div > button {
    padding: 1rem 2rem;
    margin-left: 3rem;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    background-color: rgb(111, 140, 68);
    border-radius: 8px;
    border-style: none;
}

div > button:hover {
    background-color:rgb(113, 157, 107);
}

.form-wrapper > .login {
    margin-left: 3rem;
    margin-top: 2rem;
}

a, a:visited {
    color: rgb(111, 140, 68);
}

@media (max-width: 1000px) {
    .group-wrap {
        justify-content: center;
    }
    .form-wrapper > h2 {
        margin-right: 0;
    }
    form > legend {
        text-align: center;
    }
}