* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-color: rgb(20, 20, 20);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(83, 129, 87);
    --bg-color-main: rgb(240, 240, 240);
}



@font-face {
	font-family: "norse";
	src: 
		url("./fonts/Norse-Bold.otf");
}

.container {
    display: flex;
    height: 100vh;
}

.image {
    display: flex;
    flex: 1 1 30vh;
    justify-content: center;
    align-items: center;
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.image-nested {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 16px 0;
    margin-bottom: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
}

.image-mention {
    color: var(--secondary-color);
    bottom: 0;
    position: fixed;
}

.link-mention,
.link-mention:visited {
    color: var(--secondary-color);
}

.image-nested-logo {
    content: url(./images/odin-lined.png);
    max-height: 150px;
}

.image-nested-text {
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-family: "norse", serif;
    max-height: 150px;
}

.form {
    flex: 3 1 70vh;
    background-color: var(--bg-color-main);
}

.form > * {
    padding: 2rem;
}

.form-header {
}

.form-register {
    background-color: var(--secondary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-footer {
    
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 0;
}

.row-item {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: initial;
}

input {
    font-size: 1.2rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
}

a,
a:visited {
    color: var(--tertiary-color);
}