* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;

    --main-color: rgb(20, 20, 20);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(89, 109, 72);
    --bg-color-main: rgb(240, 240, 240);
}



@font-face {
	font-family: "norse";
	src: 
		url("./fonts/Norse-Bold.otf");
}

.container {
    display: flex;
    height: 100vh;
}

.image {
    display: flex;
    min-width: 300px;
    flex: 1 1 30vh;
    justify-content: center;
    align-items: center;
    background: url(./images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.image-nested {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0.2rem 0;
    margin-bottom: 50vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
    max-height: 12rem;
}

.image-mention {
    color: var(--secondary-color);
    bottom: 0.3rem;
    position: fixed;
}

.link-mention,
.link-mention:visited {
    color: var(--secondary-color);
}

.image-nested-logo {
    content: url(./images/odin-lined.png);
    max-height: 150px;
}

.image-nested-text {
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-family: "norse", serif;
    max-height: 150px;
}

.form {
    flex: 3 1 70vh;
    background-color: var(--bg-color-main);
}

.form > * {
    padding: 1rem 2rem;
}

.form-header {
    margin-top: 4em;
    margin-bottom: 1.5rem;
}

.form-header p:nth-last-child(1) {
    margin-top: 1rem;
} 

.form-register {
    background-color: var(--secondary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1rem 0;
}

.row-item {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: initial;
}

input {
    font-size: 1.2rem;
    border: 2px solid rgb(231, 231, 231);
    border-radius: 0.2rem;
}

input:invalid {
    border-color: rgb(235, 135, 135);
}

input:focus {
    border: 2px solid rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    margin-bottom: 1rem;
}

a,
a:visited {
    color: var(--tertiary-color);
}

.text-bold {
    font-size: 1.5rem;
    font-weight: 500;
}